<div class="<%= prefix %>-widget <%= prefix %>-result-widget <%= prefix %>-faq-widget">

  <div class="<%= prefix %>-faq-widget-head">
    <h3 class="${prefix}-faq-item-title"><%= faq.title %></h3>
    <div class="${prefix}-faq-item-short"><%= faq.shortAnswer %></div>
  </div>

  <div class="<%= prefix %>-result-widget-action-list">
    <div class="<%= prefix %>-widget-action <%= prefix %>-widget-action-full">
      <% if (faq.longAnswer) { %>
      <a
        href="<%= resourceToUri('/faq#' + faq.key) %>"
        ><%= i18n.pgettext("dashboard-page", "See the full answer") %></a>
      <% } %>
    </div>
    <div class="<%= prefix %>-widget-action <%= prefix %>-widget-action-full">
      <a
        href="<%= resourceToUri('/faq') %>"
        ><%= i18n.pgettext("dashboard-page", "See all frequently asked questions") %></a>
    </div>
  </div>
  
</div>
