<div class="<%= prefix %>-widget <%= prefix %>-result-widget <%= prefix %>-result-rank-widget <%= prefix %>-widget-rank-<%= name %><%= fullWidth ? ' ' + prefix + '-widget-full-width' : ''%>">

  <div class="<%= prefix %>-result-widget-head">
    <h3><%= titleFormat(title) %></h3>
    <% if (typeof(subtitle) != "undefined") { %>
    <div class="<%= prefix %>-result-widget-subtitle"><%= subtitle %></div>
    <% } %>
  </div>
  
  <% if (sortOptions) { %>
  <div class="<%= prefix %>-result-widget-ctrl">
    <div class="<%= prefix %>-result-bar">
      <div class="<%= prefix %>-result-bar-title <%= prefix %>-result-bar-sort-title">
        <%= i18n.pgettext("dashboard-page", "Ordered by:") %>
      </div>
      <div class="<%= prefix %>-result-bar-ctrl <%= prefix %>-result-bar-sort-ctrl">
        <% if (sortOptions.length > 1) { %>
        <select>
          <% _.each(sortOptions, function (option) { %>
          <option value="<%= option.key %>"<%= option.key == sortIndex ? "selected" : "" %>><%= option.label %></option>
          <% }); %>
        </select>
        <% } else { %>
        <span value="<%= sortOptions[0].key %>"><%= sortOptions[0].label %></span>
        <% } %>
      </div>        
    </div>
  </div>
  <% } %>

  <% if (rankedItems.items.length < rankedItems.count && !fullResultsResource) { %>
     <div class="<%= prefix %>-result-widget-ctrl <%= prefix %>-result-widget-count">
       <%= i18n.pgettext("dashboard-page", "Showing first <{length}> of <{count}> results.")
           .replace("<{length}>", rankedItems.items.length)
           .replace("<{count}>", rankedItems.count)
           %>
     </div>
  <% } %>

  <div class="<%= prefix %>-result-widget-bar-title">
    <div class="<%= prefix %>-result-bar">
      <div class="<%= prefix %>-result-bar-text"><%= titleFormat(itemLabel) %></div>
      <% _.each(metricList, function (metricData) { %>
      <div class="<%= prefix %>-result-bar-value"><%= titleFormat(metricData.valueLabel || "") %></div>
      <% }); %>
    </div>
  </div>

  <div class="<%= prefix %>-result-widget-bar-list">
    <% _.forEach(rankedItems.items, function (item, i) { %>
    <div class="<%= prefix %>-result-bar">
      <div class="<%= prefix %>-result-bar-text"><%= item.label %></div>
      <% _.each(metricList, function (metricData) { %>
      <div class="<%= prefix %>-result-bar-value" <%= prefix %>-metric="<%= metricData.cssKey %>">
        <div class="<%= prefix %>-result-bar-value-text<%= item[metricData.value] ? '' : ' ' + prefix + '-weak' %>">
        <%= metricData.valueFormat ? metricData.valueFormat(item[metricData.value]) : item[metricData.value] %></div>
        <div class="<%= prefix %>-result-bar-value-bar <%= prefix %>-graphic-<%= metricData.cssKey %>"></div>
      </div>
      <% }); %>
    </div>
    <% }) %>
  </div>
  
  <div class="<%= prefix %>-result-widget-action-list">
    <div class="<%= prefix %>-widget-action <%= prefix %>-widget-action-full">
      <a 
        <% if (fullResultsResource) { %>
        <%= prefix %>-resource="<%= fullResultsResource %>"
        <% } else { %>
        style="visibility: hidden;"
        <% } %>
        ><%= i18n.pgettext("dashboard-page", "See further results") %></a>
    </div>
    <!-- <div class="<%= prefix %>-widget-action <%= prefix %>-widget-action-share <%= prefix %>-disabled"> -->
    <!--   <i class="fa fa-share-alt"></i> -->
    <!--   <a href=""><%= i18n.pgettext("dashboard-page", "Share this") %></a> -->
    <!-- </div> -->
    <div class="<%= prefix %>-widget-action <%= prefix %>-widget-action-download">
      <i style="visibility: hidden;" class="fa fa-save"></i>
      <a
        <% if (downloadUri) { %>
        href="<%= downloadUri %>"
        <% } else { %>
        style="visibility: hidden;"
        <% } %>
        download
        ><%= i18n.pgettext("dashboard-page", "Download data") %></a>
    </div>
  </div>
</div>
